body{
    background-color: #ece5da;
}
h1{
    background-color: rgb(209, 206, 206);
    color: #ece5da;
    text-align: center;
    font-size: x-large;
    letter-spacing: 1px;
    font-weight: bold;
}
table{
    text-align: center;
    margin: 0 auto;

}
div{
    text-align: center;
    margin: 0 auto;

}
th img{
    width: 19%;
}

