html {
    font-size: 32px;
}

/*
Si el tipo de letra en html asignado es de 16px, y no hay ningun cambio,
conclusion:
Doctype, esta definida de manera predeterminada en 16px, si cambiamos font-siza a 36px
veremos su modificacion
*/
/*
1 em = 16px
*/
.em li{
    font-size: 1.3em;
}
/*
Busca una conversion evitando herencias, 1 rem =16px 
la equivalencia ira referenciada a la raiz (DOM), la letra qeu se usa por defecto
*/
.rem li{
    font-size: 1.3rem;
}
li{
    font-size: 80%;
}
/*
Los porcentajes respondes de manera directa a la estructura del html y lo absorbe como punto 
referencia em y rem, con su particularidades 
*/