/*
=================
LAS TRANSICIONES
=================

Necesidad de generar mayor dinamismo en los documentos html, en esa busqueda de 
ofrecer interracion del usuario, Estas transiciones nos ofrecen cammbios enlos
estilos de una manera suave o proporcionada. Añadiedo un cambio en dichos estados. 
a traves del psedo-elemento :hover, aporta una interaccion asi como un activacion
*/

.caja{
    margin: 0 auto;
    margin-top: 250px;
    width: 30em;
    min-height: 10em;
    background-color: grey;
    border-radius: 1em;
    font-weight: bold;
    text-align: center;
    transition: /* width 2s, height 4s, */ background-color 6s;
}
.caja:hover{
  /*   width: 70%; */
    min-height: 20px;
    background-color: lightgray;

}
.centro{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    
}
.menu{

    background-color: rgb(212,205,205);
    color: white;
    border-top: black;
    font-size: 32px;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(139,137,137);
    transition: background-color 0.3s, border-radius 0.3s, box-shadow 0.2s;
    text-decoration: none;

}
.menu:hover{
    background-color:rgb(238, 212, 212) ;
    color: rgb(107,82,82);
    box-shadow: 2px 2px 2px rgb(139,137,137),
    4px 4px 4px rgb(108, 107, 107),
    2px 2px 8px rgb(93, 91, 91),
    2px 2px 12px rgb(210, 207, 207);
    font-size: xx-large;
    font-weight: bold;
    border-radius: 5px;
}
