div{
    margin: 0 auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button{
    margin: 20px;
}
.brillo{

    background-color: #0070C9;
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    position: relative;
    transition: 0.2s;

    
}

@keyframes aumentar {
    100%{
        transform: rotateZ(60deg) translate(1em, -9em);
    }
    
}
/*
:before and :after se suelen utilizar como instrucciones de contenido
suelen llevar asociado instrucciones como padding y margin
Precaucion:
El elemento añadido será considerado como un elemento en linea(x)
Recordando que un elemento en linea no percibira ni witdh, height, margin
En funcion de los intereses de estilo o efecto que busquemos, tendrá que ir acompaño
o bien contemplar el atributo del display 

*/
.brillo:hover{
transform: scale(1.2);
}

.brillo:after{
    content: "";
    background: linear-gradient(to bottom,
    rgba(229,172,142,0), rgba(255,255,255,0.5)50%,rgba(229,172,142,0)
    );
position: absolute;
transform: rotateZ(60deg) translate(-5em, 7.5em);
/*revisar efecto, porque no ha salido, hace efecto sin inclinacion,*/
top: -50%;
bottom: -50%;
left: -50%;
right: -50%;

}

.brillo:hover:after,
.brillo:focus::after{
    animation:aumentar 0.9s ;
}
/*Efecto boton en a, usando gradientes, transicion, hover y estructura de ccs3*/

.arcoiris{
    background-color: #343A40;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    padding:8px 16px ;
}
.arcoiris:hover{
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet,red
    );
    animation: desliza 2s linear infinite;
}
@keyframes desliza {
    100%{
        background-position:80px ;
    }
}
