div{
    margin: 0 auto;
    text-align: center;
}
form{
    text-align: center;
}
/*
Incrustacion de imagenes en el fondo del html, Ojo!!, muy visual, pero con cierto peligros
*/
body{
    background: url() center no-repeat;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
}
/*
ASOCIACION (:) 
etiqueta o selector(.) : orden o un atributo
*/
input:disabled{
color: red;
}
/*
Un ejemplo claro de asociacion condicionada, uso tipico de bootstrap
*/
input:focus{
    border: thick solid skyblue;
}

label:active{
    background-color: aquamarine;
}
/*
Asociacion condiciona a un evento en concreto(input con un click) y seguidamente
asignarle un cambio de estilo
*/
input[type=checkbox]:checked+label{
    font-weight: bold;
    color: blueviolet;
}
/*
Selecciones de elementos o busqueda de elementos
Grafias de seleccion
1. ^ Selecciona el primer valor de id
2. $ Seleccion de el ultimo valor
3. * Contenga determinados
*/
ol li[id^='J']{
    background-color: yellow;

}
ol li[id$='a']{
    background-color: aqua;
}

ol li[id*='r']{
    background-color: deeppink;
}
table,tr,td{
    width: 30%;
    border: thin solid navy;
    caption-side: bottom;
    text-align: center;
    border-collapse: collapse;
}

/*
Pseudo-Clases: Define selecciones accediendo a la herencias de mayor uso y mas relevantes serán: 
:first-child (selecciona el primer elemento)
:first-letter(seleccion de primer caracter)
:before (el estilo que se produce al inicio del contenido
:after (el estilo que se produce al final contenido
:nth-of-type (en funcion de su posicion)
*/
/*
Un ejemplo, en cuanto a ese acceso de herencias
*/
tr:nth-child(even){
    background: lightcoral;
}
/* #tablacebreada tr::nth-child(odd){
    background-color: lightsteelblue;
} */
tr :nth-child(odd){
    background-color: brown;
}
/*
Utilizando las pseudo-clases anteriores, partiendo de la lista no ordenada: 
1. Dar color y cambio de letra al primer elemento de la lista
2. Posicionado en el septimo lugar, generar cambio de estilo, color
3. colorear parrafo 1 y 3
*/
/*1*/
ul li:first-child{
    background-color: chocolate;
}
/*2*/
ul li :nth-child(7){
background-color: thistle;
}
/*3*/

p:nth-of-type(1){
    background-color: blueviolet;
    
}
p:nth-of-type(3){
    background-color: tomato;
    
}
p:nth-child(odd){
    background-color: blue;
    }