#caja{
    width: 200px;
    height: 200px;
    background-color: rgb(247,205,126);
    font-size: 1em;
    text-align: center;
    position: relative;

    /*
    El factor de Animcion, será definido por
    los siguientes atributos
    1.Nombre
    2.Duracion
    3. Tipo de Ejecucion
    */
    animation-name: animacion1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
/*
@keyframes, desde esta directiva ayuda a controlar los pasos intermedios o definidos en una secuencia, estructura
generada, desdelos keyframes(puntos de trayectoria), en definitiva lograremos a lo largo de una secuencia irá desarrollando 
en determinados hitos, enclaves acciones determinadas en el desarrollo
*/

@keyframes animacion1 {
    0%{
        background-color: rgb(247,205,126);
        font-size: 1em;

    }
    25%{
        background-color: orange;
        font-size: 2em;
        width: 400px;
        border: 0.1em dotted black;
        border-radius: 1em;
        /*
        la propiedad transform, ya utilizada en las rotaciones que aqui dicha transformacion vendrá definida
        por el recalibarado del espacio (x,y), Generando efectos de rotaciones, escalados,...
        */
        transform: translateX(400px);
        
    }
    50%{
        background-color: orangered;
        font-size: 1em;
        width: 300px;
        transform: translateX(400px) translateY(400px) rotate(30deg);


    }
    75%{
        background-color: saddlebrown;
        font-size: 2em;
        width: 300px;
        transform: translateY(400px);

    }
    
}
