div {
    width: 30%;
    height: 100px;
    float: left;
    background-color: lightblue;
    margin: 20px;
}

.defecto {
    background: linear-gradient(
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.izq_drch {
    background: linear-gradient(to right,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.drch_izq {
    background: linear-gradient(to left,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.arriba {
    background: linear-gradient(to top,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.diagonal_drch {
    background: linear-gradient(to bottom right,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.diagonal_izq {
    background: linear-gradient(to bottom left,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.centro {
    background: radial-gradient(
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.circular {
    background: radial-gradient(circle,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.eliptica {
    background: radial-gradient(ellipse,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
}
.opacidad {
    background: linear-gradient(to bottom right,
             white 70%,
            blue
             
    );
}
.redondeado {
    background: linear-gradient(to bottom left,
             rgb(103,103,108),
             rgb(236,169,236),
             rgb(231,231,125)
    );
    border-radius: 50%;
    width: 100px;
}